* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(198, 118, 223);
}

main {
  border: none;
  padding: 80px 40px;
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 800px;
  border-radius: 10px;
  background-color: rgb(255, 249, 240);
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hint-container {
  font-size: 1.2rem;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
}

.hint-container p {
  margin-bottom: 0px;
}

.hint-container .text-danger {
  color: red;
}

.hangman-section img {
  width: 280px;
}

.keyboard {
 display: flex;
 flex-wrap: wrap;
 gap: 5px;
 justify-content: center;
}

button {
  font-size: 1.4rem;
  width: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(148, 87, 167);
  border-radius: 5px;
  color: white;
  padding: 5px;
  border: none;
}

button:hover {
  background-color: rgb(198, 118, 223);
}

button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
 
.secret-word-ul {
  font-size: 2rem;
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  gap: 0.4rem;
}

.secret-word-ul li {
  border-bottom: 2px solid #000;
  min-width: 50px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px;
}

.game-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease;
}

.game-modal.show {
  opacity: 1;
  pointer-events: auto;
}

.game-modal .modal-content {
background-color: aliceblue;
padding: 40px;
border-radius: 10px;
text-align: center;
}

.game-modal button {
  width: 150px;
  margin-top: 10px;
}